/*
Para obtener círulos,basta con poner 50% de border radius
Inicia con el top al 100% del objeto y finaliza al '100%
*/
.boton.tres::after{
    content:"";
    width: 125%;
    height: 500%;
    background: #8cc168;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: calc(100%);    
    transition: 1s ease-in-out all;
}
.boton.tres:hover:after{
    top:calc(-100%);
}